<article class="wrapper clearfix">
  <h3 class="title">归档</h3>

  <div class="timeline">
    {% for p in posts %}
      {% if p.year.length %} 
      <h4 class="tl-year hidden-xs">{{ p.year }}</h4>
      {% /if %}
      
      {% if p.ext_month_last.length %}
     </ul>
      <h5 class="tl-month hidden-xs">{{ p.dateMonth }}</h5>
        <ul class="tl-content">
      {% /if %}
      
      <li class="tl-title"><span>{{ p.date }}</span> &raquo; <a href="{{ p.url }}">{{ p.title }}</a></li>
    {% /for %}
  </div>
</article>